<p><%= link_to "Back to All Journals", journals_path %></p>
<p><%= link_to "Add New Entry", new_journal_entry_path(@journal) %></p>

<h3>Entries for Journal: <%= @journal.journal_title %></h3>

<% @journal.entries.each do |entry| %>
<hr>
<div class="row add-margin">
  <div class="col-md-4">Title: <%= entry.entry_title %></div>
  <div class="col-md-4">Entry 2</div>
  <div class="col-md-4">Date: <%= entry.entry_date %></div>
</div>
<div class="row add-margin">
  <div class="col-md-12">Description: <%= entry.description %></div>
</div>
<div class="row add-margin">
  <div class="col-md-4">Tags: <%= entry.tag_list %></div>
  <div class="col-md-4"><%= link_to "Edit this entry", edit_journal_entry_path(entry.journal, entry) %></div>
</div>
<% end %>
<hr>
