<h1>Invite Friends</h1>

<p> Enter email addresses for your friends - limit 5</p>

<%= form_for (@user) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
  </div>

<%= link_to 'Send Invitation', user_invitation_path(@user), :remote => true, :title => "Sends an email directly to the user"%>



<% end %>
