<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="root_path">Life In Journal</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "All Journals", journals_path %></li>
          <li><%= link_to "Account Info", edit_user_registration_path %></li>
          <li>you are signed in as <%= current_user.email %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>

      <%else%>

        <ul>
          <li><button class="btn btn-default btn-sm"><%= link_to "Sign Up", new_user_registration_path %></button></li>
          <li><button class="btn btn-default btn-sm"><%= link_to "Sign In", new_user_session_path %></button></li>
        </ul>
    </div>
      <%end%>
        </ul>
  </div>
  </div>
</nav>
